.@{icon-css-prefix} {
  background-image: url("/img/seicon.png");
  display: inline-block;
  vertical-align: middle;

  &.@{icon-css-prefix}-qqtalk {
    background-position: -154px -38px;
    width: 112px;
    height: 32px;
  }

  &.@{icon-css-prefix}-notice {
    background-position: -500px -219px;
    width: 16px;
    height: 16px;
  }
}
