// ------ Base ------
@body-background: #fff;
// 见http://element.eleme.io/#/component/typography
@font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
@code-family: Consolas,Menlo,Courier,monospace;
@text-color: #666;
@font-size: 14px;
@line-height: 1.5;
@line-height-computed: floor((@font-size * @line-height)); //
@icon-css-prefix: seicon;
// /* page */
@page-width: 1100px;
@link-color: #2db7f5;
@link-hover-color: tint(@link-color, 20%);
@link-active-color: shade(@link-color, 5%);
@link-hover-decoration: none;
// /* top*/
@top-height: 35px;
@top-login-tip-color: #FF6501;
@top-color: #DCDCDC;
@top-bg-color: #333333;
@top-link-color: #DCDCDC;
@top-link-hover-color: tint(@top-link-color, 20%);
@top-link-active-color: shade(@top-link-color, 5%);
@top-link-hover-decoration: none;
@top-link-breadcrumb-padding: 0 20px;
// /* header*/
@header-height: 95px;
@logo-width: 170px;
@logo-height: 95px;
@header-nav-color: #676767;
@header-nav-hover-color: #2db7f5;
// /* footer */
@footer-gb-color: #0090FF;
@footer-color: #fff;
// /* se-section */
@section-header-height: 28px;
@section-header-border-color: #CBCDCC;
@section-name-color: #2B8FDD;
@section-name-border-color: #2B8FDD;
// /* navaddr */
@navaddr-color: #999;
@navaddr-font-size: 14px;
@navaddr-link-color: #666664;
@navaddr-link-hover-color: @link-hover-color;
@navaddr-link-active-color: @link-active-color;
@navaddr-active-color: #2474BD;
@navaddr-navaddr-separator-color: #656766;
// /* container */
@page-container-background-color: #fff;
@page-content-border-color: #E4E4E4;
@page-content-background: #fff;
@page-content-min-height: 500px;
// /* form */
@input-placeholder-color: #ccc;
@input-color: @text-color;
@input-border-color: #ccc;
@input-padding: 3px 5px;
@input-height: 30px;
