// 页脚
footer
  .footer-content
    .clearfix
      .footer-content-left
        .footer-logo
        ul
          li
            span.seicon.seicon-tel
            span 0769-22999131(转速翼客服)
          li
            span.seicon.seicon-email
            span postmaster@91soe.com
      .footer-content-center
        ul
          li
            strong 友情链接
          li
            a EMS
          li
            a 海关总署
          li
            a 美亚淘
          li
            a 没得比
          li
            a 55海淘
        ul
          li
            strong 联系我们
          li
            a 微博
          li
            a 关于我们
        ul
          li
            strong 商务合作
      .footer-content-right
        ul
          li
            a
              span.seicon.seicon-qqtalk
          li 客服上班时间：周一至周五：9:00-18:00，周六：9:00-12:00
  // copyright
  .copyright
    div Copyright (c) 2016 91soe.com All Rights Reserved.
      ul
        li.selected
          a(href='/pages/home.html') 网站首页
          span.breadcrumb |
        li
          a(href='/pages/rates.htm') 费用相关
          span.breadcrumb |
        li
          a(href='/pages/prohibited.html') 禁运物品
          span.breadcrumb |
        li
          a(href='/pages/newsList.html') 新闻公告
          span.breadcrumb |
        li
          a(href='/pages/courseList.html') 海淘教程
          span.breadcrumb |
        li
          a(href='/pages/guidance.html') 用户指南
          span.breadcrumb |
        li
          a(href='/pages/api.html') API接口
          span.breadcrumb |
        li
          a(href='/pages/about.html') 联系我们
