// 右侧快捷导航栏
nav.se-affix
  ul
    li
      a(href='#')
        span.seicon.seicon-affix-qq
    li
      .se-affix-wx
        .se-affix-wx-code
          img(src='/img/wx-code.png')
        span.seicon.seicon-affix-wx
    li
      a(href='#')
        span.seicon.seicon-affix-cooperation
    li
      a(href='#affixTop')
        span.seicon.seicon-affix-top
