// 吊顶
#affixTop.top-nav
  div
    ul.pull-left
      li
        a(href="/pages/login.html" class="lighthigh") 亲，请登录
        span.breadcrumb |
      li
        a(href="/pages/register.html") 免费注册
    ul.pull-right
      li
        a(href="/pages/idcard.html") 上传身份证
        span.breadcrumb |
      li
        a(href="/pages/about.html") 关于我们
        span.breadcrumb |
      li
        a
          span.seicon.seicon-qq
          span 客服中心
