extends layout/default.pug
block content
  // 关于我们
  .se-container.page-about
    nav.se-navaddr
      span
        span.seicon.seicon-addr
        span.se-navaddr-link
          a 首页
        span.se-navaddr-separator &gt;
      span
        span.se-navaddr-link.active 关于我们
    .about-banner
    .se-content
      .about-content
        .about-item
          span.seicon.seicon-tel-circle
          | 联系电话：0769-33329337
        .about-item
          span.seicon.seicon-email-circle
          | 联系邮箱：couperation@91soe.com
        .about-item
          span.seicon.seicon-work-circle
          | 工作时间：周一至周五：9:00-18:00，周六：9:00-12:00。（法定节假日除外）
