extends layout/default.pug
block content
  // 优惠活动
  .se-container.page-activity
    // 地址导航
    nav.se-navaddr
      span
        span.seicon.seicon-addr
        span.se-navaddr-link
          a 首页
        span.se-navaddr-separator &gt;
      span
        span.se-navaddr-link.active 优惠活动
    .se-content
      .activer.clearfix
        .activer-item
          .activer-img
            img(src="/img/activer.png")
          .activer-name 米饭粒注册送5美元
          .activer-desc 即日起到2016年12月9日，注册送5美元，赶紧注册吧！
          div
            a(class="activer-link") 查看详情
        .activer-item
          .activer-img
            img(src="/img/activer.png")
          .activer-name 米饭粒注册送5美元
          .activer-desc 即日起到2016年12月9日，注册送5美元，赶紧注册吧！
          div
            a(class="activer-link disabled") 活动过期
        .activer-item
          .activer-img
            img(src="/img/activer.png")
          .activer-name 米饭粒注册送5美元
          .activer-desc 即日起到2016年12月9日，注册送5美元，赶紧注册吧！
          div
            a(class="activer-link") 查看详情
        .activer-item
          .activer-img
            img(src="/img/activer.png")
          .activer-name 米饭粒注册送5美元
          .activer-desc 即日起到2016年12月9日，注册送5美元，赶紧注册吧！
          div
            a(class="activer-link") 查看详情
