extends layout/default.pug
block content
  // 海淘折扣列表
  .se-container.page-discount-list
    // 地址导航
    nav.se-navaddr
      span
        span.seicon.seicon-addr
        span.se-navaddr-link
          a 首页
        span.se-navaddr-separator &gt;
      span
        span.se-navaddr-link.active 海淘折扣列表
    .se-content
      .discount-wrap.clearfix
        ul
          li
            .good-img
              img(src='/img/good.png')
            .good-readme
              .good-name Philips Norelco 飞利浦Multigroom 5100剃须刀脱毛7件套(模型QG3364/42)包装可能有所不同
              .good-sub-name 时间：2016年10月3日&nbsp;|&nbsp;分类：服装衣帽&nbsp;|&nbsp;人气：10
              .good-desc 飞利浦Multigroom 5100剃须刀脱毛7件包装可能有所不同飞利浦Multigroom 5100剃须刀脱毛，毛7件包装可能有所不同...
              .good-link
                a 查看详情
                a.good-link-to 直达链接
          li
            .good-img
              img(src='/img/good.png')
            .good-readme
              .good-name Philips Norelco 飞利浦Multigroom 5100剃须刀脱毛7件套(模型QG3364/42)包装可能有所不同
              .good-sub-name 时间：2016年10月3日&nbsp;|&nbsp;分类：服装衣帽&nbsp;|&nbsp;人气：10
              .good-desc 飞利浦Multigroom 5100剃须刀脱毛7件包装可能有所不同飞利浦Multigroom 5100剃须刀脱毛，毛7件包装可能有所不同...
              .good-link
                a 查看详情
                a.good-link-to 直达链接
          li
            .good-img
              img(src='/img/good.png')
            .good-readme
              .good-name Philips Norelco 飞利浦Multigroom 5100剃须刀脱毛7件套(模型QG3364/42)包装可能有所不同
              .good-sub-name 时间：2016年10月3日&nbsp;|&nbsp;分类：服装衣帽&nbsp;|&nbsp;人气：10
              .good-desc 飞利浦Multigroom 5100剃须刀脱毛7件包装可能有所不同飞利浦Multigroom 5100剃须刀脱毛，毛7件包装可能有所不同...
              .good-link
                a 查看详情
                a.good-link-to 直达链接
          li
            .good-img
              img(src='/img/good.png')
            .good-readme
              .good-name Philips Norelco 飞利浦Multigroom 5100剃须刀脱毛7件套(模型QG3364/42)包装可能有所不同
              .good-sub-name 时间：2016年10月3日&nbsp;|&nbsp;分类：服装衣帽&nbsp;|&nbsp;人气：10
              .good-desc 飞利浦Multigroom 5100剃须刀脱毛7件包装可能有所不同飞利浦Multigroom 5100剃须刀脱毛，毛7件包装可能有所不同...
              .good-link
                a 查看详情
                a.good-link-to 直达链接
