extends layout/default.pug
block content
  // 海淘折扣详情
  .se-container.page-discount-detail
    nav.se-navaddr
      span
        span.seicon.seicon-addr
        span.se-navaddr-link
          a 首页
        span.se-navaddr-separator &gt;
      span
        span.se-navaddr-link
          a 海淘折扣列表
        span.se-navaddr-separator &gt;
      span
        span.se-navaddr-link.active Logitech/罗技 H110 多功能立体声头戴式耳机耳麦含麦克风
    .se-content
      .goods-detail
        .goods-header
          .goods-name Logitech/罗技 H110 多功能立体声头戴式耳机耳麦含麦克风
          .goods-sub-name 时间：2016年10月3日&nbsp;|&nbsp;分类：电子数码&nbsp;|&nbsp;人气：10
        .goods-content
          .goods-summary
            .goods-img
              img(src='/img/goods/4523_0.jpg')
            .goods-desc Logitech/罗技 H110 多功能立体声头戴式耳机耳麦含麦克风只卖42欧元
            .goods-link
              a 立即购买
          p 罗技 Logitech大品牌品质保障！罗技H110头戴耳麦是面向主流消费群体的一款耳麦。本款耳机的麦克风采用金属连杆和耳机主体连接，金属连杆部分几乎可以随意弯折;麦克风顶部还带有海绵防风套，通话音质非常不错。这款耳机不仅可以用于网络通话，还可用来欣赏音乐、电影和享受游戏，从性价比方面来看，H110的表现还是相当不错的。罗技很热门的耳机之一。
