extends layout/default.pug
block content
  // 新闻公告列表
  .se-container
    nav.se-navaddr
      span
        span.seicon.seicon-addr
        span.se-navaddr-link
          a 首页
        span.se-navaddr-separator &gt;
      span
        span.se-navaddr-link.active 新闻公告列表
    .se-content
      .se-left
        .se-subject
          strong 速翼公告
          ul
            li
              a 2016年国庆节运营安排
            li
              a 我国海关对个人邮递物品进境的规定
        .se-subject
          strong 速翼新闻
          ul
            li
              a 关于上传真实有效身份证照片的通知
            li
              a 手表类强制保险收费变动通知
      .se-right
        .se-list-wrap
          .se-item
            strong 关于增值服务的相关提醒
            p 尊敬的客户，您好：为了保证用户的货物安全，避免不必要的误解和纠纷，自2016年9月15日上午10点起完成缴费的包裹开始征收强制保险收强制保险收强制保险...&nbsp;&nbsp;[<a href="/pages/newsDetail.html?id=1">详细</a>]
            .se-item-extras 发布时间：2016-09-28/速翼公告
          .se-item
            strong 关于增值服务的相关提醒
            p 尊敬的客户，您好：为了保证用户的货物安全，避免不必要的误解和纠纷，自2016年9月15日上午10点起完成缴费的包裹开始征收强制保险收强制保险收强制保险...&nbsp;&nbsp;[<a href="/pages/newsDetail.html?id=2">详细</a>]
            .se-item-extras 发布时间：2016-09-28/速翼公告
          .se-item
            strong 关于增值服务的相关提醒
            p 尊敬的客户，您好：为了保证用户的货物安全，避免不必要的误解和纠纷，自2016年9月15日上午10点起完成缴费的包裹开始征收强制保险收强制保险收强制保险...&nbsp;&nbsp;[<a href="/pages/newsDetail.html?id=13">详细</a>]
            .se-item-extras 发布时间：2016-09-28/速翼公告
          .se-item
            strong 关于增值服务的相关提醒
            p 尊敬的客户，您好：为了保证用户的货物安全，避免不必要的误解和纠纷，自2016年9月15日上午10点起完成缴费的包裹开始征收强制保险收强制保险收强制保险...&nbsp;&nbsp;[<a href="/pages/newsDetail.html?id=14">详细</a>]
            .se-item-extras 发布时间：2016-09-28/速翼公告
          .se-item
            strong 关于增值服务的相关提醒
            p 尊敬的客户，您好：为了保证用户的货物安全，避免不必要的误解和纠纷，自2016年9月15日上午10点起完成缴费的包裹开始征收强制保险收强制保险收强制保险...&nbsp;&nbsp;[<a href="/pages/newsDetail.html?id=15">详细</a>]
            .se-item-extras 发布时间：2016-09-28/速翼公告
        .se-pagination
          ul
            li
              a(href="#") &lt;
            li.active
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") &gt;
