extends layout/default.pug
block content
  // 关于我们
  .se-container.page-prohibited
    nav.se-navaddr
      span
        span.seicon.seicon-addr
        span.se-navaddr-link
          a 首页
        span.se-navaddr-separator &gt;
      span
        span.se-navaddr-link.active 禁运物品
    .prohibited-banner
    .se-content
      .inner-content
        .col-4
          .prohibited-item
            .articles-img
              img(src="/img/prohibited_gun.png")
            .articles-name 武器弹药及仿真武器
            p 枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。
            a.articles-more 查看更多
            a.articles-less 收缩
          .prohibited-item
            .articles-img
              img(src="/img/prohibited_gun.png")
            .articles-name 武器弹药及仿真武器
            p 枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。
            a.articles-more 查看更多
            a.articles-less 收缩
          .prohibited-item
            .articles-img
              img(src="/img/prohibited_gun.png")
            .articles-name 武器弹药及仿真武器
            p 枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。
            a.articles-more 查看更多
            a.articles-less 收缩
        .col-4
          .prohibited-item
            .articles-img
              img(src="/img/prohibited_gun.png")
            .articles-name 武器弹药及仿真武器
            p 枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。
            a.articles-more 查看更多
            a.articles-less 收缩
          .prohibited-item
            .articles-img
              img(src="/img/prohibited_gun.png")
            .articles-name 武器弹药及仿真武器
            p 枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。
            a.articles-more 查看更多
            a.articles-less 收缩
        .col-4
          .prohibited-item
            .articles-img
              img(src="/img/prohibited_gun.png")
            .articles-name 武器弹药及仿真武器
            p 枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。
            a.articles-more 查看更多
            a.articles-less 收缩
          .prohibited-item
            .articles-img
              img(src="/img/prohibited_gun.png")
            .articles-name 武器弹药及仿真武器
            p 枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。枪支（手枪、步枪、机枪等）、子弹、炮弹、手榴弹、地雷、炸药、弓箭、可射击子弹的玩具。
            a.articles-more 查看更多
            a.articles-less 收缩
block script
  script(type='text/javaScript').
    $(document).on("click",".articles-more,.articles-less", function(){
      $(this).closest(".prohibited-item").toggleClass("all");
    })
